<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RideUp - 400</title>
  </head>
  <body id="error">
    <h1>Erreur 400</h1>
    <div>
      Bad Request. <br />
      L'action que vous avez tenté d'effectuer n'est pas prise en charge.
    </div>
    <a href="/" id="rallback">⇢ Retour à l'accueil ⇠</a>
  </body>
</html>
