<!DOCTYPE html>
<html lang="en">
  {{template "InitHead" .}}
  <body class="body-connection">
    <main class="main-connection">
      <h1 class="app-title">Ride Up</h1>
      <h2>Connection</h2>
      <form id="registerForm" method="POST">
        <div class="form-group">
          <label for="registerEmail" class="form-label">Adresse e-mail :</label>
          <input
            type="text"
            name="email"
            id="registerEmail"
            placeholder="@email.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerPassword" class="form-label"
            >Mot de passe :</label
          >
          <input
            type="password"
            name="password"
            id="registerPassword"
            placeholder="••••••••"
            required
            minlength="6"
          />
          <div class="show-password">
            <input
              type="checkbox"
              onclick="togglePassword('registerPassword', this)"
            />
            <span class="show-password-text">Afficher</span>
          </div>
        </div>

        <button value="submit" class="button">Connexion</button>
      </form>
    </main>
    {{template "InitFooter" .}}
  </body>
</html>
