<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/script.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Comic+Relief:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>RideUp</title>
  </head>
  <body>
    <main class="main-connection">
      <h1 class="app-title">Ride Up</h1>
      <h2>Connection</h2>
      <form id="registerForm" methode="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="registerEmail" class="form-label">Adresse e-mail :</label>
          <input
            type="text"
            name="email"
            id="registerEmail"
            placeholder="@email.com"
            required
          />
        </div>
        <div class="form-group">
          <label for="registerPassword" class="form-label"
            >Mot de passe :</label
          >
          <input
            type="password"
            name="password"
            id="registerPassword"
            placeholder="••••••••"
            required
            minlength="6"
          />
          <div class="show-password">
            <input
              type="checkbox"
              onclick="togglePassword('registerPassword', this)"
            />
            <span class="show-password-text">Afficher</span>
          </div>
        </div>

        <button value="submit" class="button">Connexion</button>
      </form>
    </main>
    <footer>
      <p>&copy; 2025 Pain Mathis. Tous droits réservés.</p>
    </footer>
  </body>
</html>
